.container{
  
  padding-top: 5px;
  text-align: center;
  width: 338px;
  background-color: #b3ffb3;
  border-radius: 20px;
  box-shadow: 4px 8px #008000;
  
  
}
.firstRow{
  font-family: 'Overpass Mono', monospace;
  font-size: 55px;
  padding-top:10px;
  
  
}
.secondRow{
    font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  margin-top: -8px;
  
  }
.toChange{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  padding-bottom:5px;
}
#rowButs{
  width: 300px;
  margin-top: 2px;
}
.buttonNine{
  width:97px;
  height:97px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 40px;
  background-color:  #ff9999;
  
  
 }

.well{
  background-color: #ffe6e6;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  width:308px;
  float: none;
  margin: 0 auto;
  
}
.rounds{
  width:80px;
  height:80px;
  border-radius: 80px;
  margin-right:10px;
  box-shadow: 2px 4px #8cbfd9;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
}

#rowWDL{
  padding-left: 12px;
  
}
.afterNine{
  margin-top:20px;
}

.resetClass{
  margin-top:10px;
  margin-bottom:15px;
  height: 60px;
   background-color: Transparent;
  border-style: solid;
    border-color: #ff9999;
  border-radius: 10px;
  border-width: 2px;
  color: #ff6666;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}
#resetRow{
  padding-left: 15px;
  padding-right: 15px;
}
.rowXY{
  margin-bottom:10px;
}
#boTT{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
   margin-top:15px;
}
.playXClass{
   box-shadow: 2px 2px #8cbfd9;
}
.playOClass{
   box-shadow: 2px 2px #8cbfd9;
}
